.article_content p{
  margin: 0 0 1.25rem 0;
}

.article_content h2 {
  color: #EC6009 !important;
  margin: 0 0 1.25rem 0;
}

.article_content.leading-9 p {
  margin: 0 0 1.5rem 0;
}

.article_content.leading-9 h2 {
  font-size: 24px !important;
  margin: 0 0 1.5rem 0;
}

.article_content.leading-10 p {
  margin: 0 0 1.75rem 0;
}

.article_content.leading-10 h2 {
  font-size: 30px !important;
  margin: 0 0 1.75rem 0;
}

.article_content table {
  margin: 0 0 1.25rem 0;
  border:1px solid red;
}

.article_content tr {
  border: 1px solid red;
}
.article_content td {
  border: 1px solid red;
}