.article_content div {
  margin: 0 0 1.25rem 0;
}

.article_content h1 {
  font-size: 28px !important;
  font-weight: 800 !important;
  color: #EC6009 !important;
  margin: 0 0 1.25rem 0;
}

.article_content h2 {
  font-size: 24px !important;
  font-weight: 800 !important;
  color: #EC6009 !important;
  margin: 0 0 1.25rem 0;
}

.article_content h3 {
  font-size: 20px !important;
  font-weight: 800 !important;
  color: #EC6009 !important;
  margin: 0 0 1.25rem 0;
}

.article_content h4 {
  font-size: 16px !important;
  font-weight: 800 !important;
  color: #EC6009 !important;
  margin: 0 0 1.25rem 0;
}

.article_content h5 {
  font-size: 12px !important;
  font-weight: 800 !important;
  color: #EC6009 !important;
  margin: 0 0 1.25rem 0;
}

.article_content p {
  margin: 0 0 1.25rem 0;

  img{
    width: 100%;
  } 

  a{
    color: #EC6009 !important;
    font-weight: 500 !important;
    text-decoration: underline;
  }
}







.article_content.text-xl p {
  margin: 0 0 1.5rem 0;
}

.article_content.text-xl h2 {
  font-size: 24px !important;
  margin: 0 0 1.5rem 0;
}




.article_content.text-2xl p {
  margin: 0 0 1.75rem 0;
}

.article_content.text-2xl h2 {
  font-size: 30px !important;
  margin: 0 0 1.75rem 0;
}



.article_content table {
  margin: 0 0 1.25rem 0;
  border:1px solid black;
}

.article_content tr {
  border: 1px solid black;
}
.article_content td {
  border: 1px solid black;
}