.article_content {
  div {
    margin: 0 0 1.25rem 0;
  }

  h1 {
    font-size: 28px !important;
    font-weight: 800 !important;
    color: #EC6009 !important;
    margin: 0 0 1.25rem 0;
  }

  h2 {
    font-size: 24px !important;
    font-weight: 800 !important;
    color: #EC6009 !important;
    margin: 0 0 1.25rem 0;
  }

  h3 {
    font-size: 20px !important;
    font-weight: 800 !important;
    color: #EC6009 !important;
    margin: 0 0 1.25rem 0;
  }

  h4 {
    font-size: 16px !important;
    font-weight: 800 !important;
    color: #EC6009 !important;
    margin: 0 0 1.25rem 0;
  }

  h5 {
    font-size: 12px !important;
    font-weight: 800 !important;
    color: #EC6009 !important;
    margin: 0 0 1.25rem 0;
  }

  p {
    margin: 0 0 1.25rem 0;

    img {
      width: 100%;
    }

    a {
      color: #EC6009 !important;
      font-weight: 500 !important;
      text-decoration: underline;
    }
  }

  blockquote {
    margin: 0 0 1.25rem 0;
    border-left: 4px solid #EC6009;
    background-color: #FFF9F5;
    padding: 24px;
    border-radius: 0.375rem;
    font-weight: 500 !important;

    p {
      margin: 0;
    }
  }

  table {
    margin: 0 0 1.25rem 0;
    border: 1px solid black;
  }

  tr,
  td {
    border: 1px solid black;
  }
}

.article_content.text-xl {

  div {
    margin: 0 0 1.5rem 0;
  }

  h1 {
    font-size: 32px !important;
    margin: 0 0 1.5rem 0;
  }

  h2 {
    font-size: 28px !important;
    margin: 0 0 1.5rem 0;
  }

  h3 {
    font-size: 24px !important;
    margin: 0 0 1.5rem 0;
  }

  h4 {
    font-size: 20px !important;
    margin: 0 0 1.5rem 0;
  }

  h5 {
    font-size: 16px !important;
    margin: 0 0 1.5rem 0;
  }

  p {
    margin: 0 0 1.5rem 0;
  }

  blockquote {
    margin: 0 0 1.5rem 0;
  }
}



.article_content.text-2xl {
  div {
    margin: 0 0 1.75rem 0;
  }

  h1 {
    font-size: 36px !important;
    margin: 0 0 1.75rem 0;
  }

  h2 {
    font-size: 32px !important;
    margin: 0 0 1.75rem 0;
  }

  h3 {
    font-size: 28px !important;
    margin: 0 0 1.75rem 0;
  }

  h4 {
    font-size: 24px !important;
    margin: 0 0 1.75rem 0;
  }

  h5 {
    font-size: 20px !important;
    margin: 0 0 1.75rem 0;
  }

  p {
    margin: 0 0 1.75rem 0;
  }

  blockquote {
    margin: 0 0 1.75rem 0;
  }

}

