#thebetteraging_pc_home_970x250_t iframe{
  margin: 0 0 40px 0;
}

#thebetteraging_mob_home_300x250_t iframe{
  margin: 0 0 40px 0;
}

#thebetteraging_mob_home_300x250_m iframe{
  margin: 0 0 40px 0;
}

#thebetterraging_pc_list_970x250_t iframe{
  margin: 20px 0 20px 0;
}

#thebetterraging_pc_list_970x250_b iframe {
  margin: 54px 0 0px 0;
}

#thebetteraging_mob_list_300x250_t iframe{
  margin: 40px 0 0px 0;
}

#thebetterraging_pc_article_970x250_b iframe{
  margin: 40px 0 40px 0;
}

#thebetterraging_pc_article_970x250_b_1 iframe{
  margin: 40px 0 40px 0;
}

#thebetterraging_pc_article_970x250_b_2 iframe{
  margin: 40px 0 40px 0;
}

#thebetterraging_pc_article_970x250_b_3 iframe{
  margin: 40px 0 40px 0;
}

#thebetterraging_pc_article_970x250_b_4 iframe{
  margin: 40px 0 40px 0;
}

#thebetterraging_pc_article_970x250_b_5 iframe{
  margin: 40px 0 40px 0;
}

#thebetteraging_mob_article_300x250_t iframe{
  margin: 5px 0 20px 0;
}

#thebetteraging_mob_article_300x250_t_1 iframe{
  margin: 5px 0 20px 0;
}

#thebetteraging_mob_article_300x250_t_2 iframe{
  margin: 5px 0 20px 0;
}

#thebetteraging_mob_article_300x250_t_3 iframe{
  margin: 5px 0 20px 0;
}

#thebetteraging_mob_article_300x250_t_4 iframe{
  margin: 5px 0 20px 0;
}

#thebetteraging_mob_article_300x250_t_5 iframe{
  margin: 5px 0 20px 0;
}